:root {
    --primary: #2C7DFA;
    --shade: #3685FF;
    --dark-navy: #1F314F;
    --secondary: #7D889E;
    --light-secondary: #D5E1EF;
    --white: white
}

body {
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: var(--light-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    margin: 0;
    padding: 0;
}
h1 {
    margin-top: 24px;
    font-size: 22px;
    word-spacing: 1px;
    text-align: center;
}

.w-screen {
    width: 100vw;
}

.w-screen {
    height: 100vh;
}

.card {
    width: calc(320px - 32px);
    height: calc(479px - 32px);
    background-color: var(--white);
    filter: drop-shadow(0px 4px 4px hsla(0, 0%, 0%, 0.25));
    border-radius: 20px;
    padding: 16px;
}

.card p {
    color: var(--secondary);
    margin-top: 16px;
    font-size: 15px;
    padding: 0px 16px;
    word-spacing: 1px;
    letter-spacing: 0.19px;
    text-align: center;
    font-weight: 400;
}

.font-bold {
    font-weight: bold;

}